#device-check, #landing-device-check {
	background: #FFFFFF;
}


/****** landing start ******/
.landing-logo-container {
	width: 500px;
	height: 350px;
	margin: 0 auto 0 auto;
	padding-top: 120px;
	background: rgba(0, 0, 0, 0.5);
}

.landing-logo {
	width: 250px;
	height: 245px;
}

.landing-social-container {
	position: absolute;
	width: 500px;
	margin: 0;
	padding: 0 0 20px 0;
	display: inline-block;
	text-align: center;
}

.landing-social-container input {
	height: 40px;
	font-size: 0.6em;
	font-weight: 300;
	padding-left: 10px;
	padding-right: 30px;
	width: 480px;
	text-align: center;
	border: none;
	background: rgba(0, 0, 0, 0.5);
}

.landing-social-container > img {
	display: inline-block;
	height: 34px;
	width: 30px;
	padding: 3px 5px;
	margin-left: -45px;
	vertical-align: bottom;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}

.landing-social-container > img:hover {
	opacity: 1;
}

.landing-social-container > a > img.social-icon {
	width: 50px;
	height: 50px;
	margin: 15px 5px 0 5px;
	opacity: 0.3;
}

.landing-social-container > a > img.social-icon:hover {
	opacity: 1;
}
/****** landing end ******/


/* main */
.container {
	margin: 50px auto 0 auto;
	width: 500px;
}

.container > .logo-container > input {
	width: 380px;
	height: 50px;
	margin-top: 8px;
}

.container > .logo-container img.withLeftMargin {
	margin-left: 25px;
}

/* menu */
nav, nav > ul, nav > ul > li {
	height: 65px;
}

nav > ul > li {
	padding-top: 40px;
}

nav > ul > li > img {
	width: 30px;
	height: 30px;
}

nav > ul > li.special > img {
	width: 40px;
	height: 30px;
}

/* pages container */
.container > section.page-container {
	height: 360px;
	padding-top: 40px;
}

/* send button */
.container > button {
	height: 100px;
}

.container > button > img {
	width: 45px;
	height: 30px;
	margin-top: 5px;
}

.container > section.page-container > div.page {
	display: block;
	position: relative;
	height: 360px;
}

.container > section.page-container > div.page > textarea {
	height: 360px;
}

/* info page */
div#page4 #address-icon {
	margin-top: 60px;
}

div#page4 hr {
	margin-bottom: 30px;
}

div#page4 input {
	width: 300px;
}