/*::selection {
	background: #001E1E;
	color: white;
}
::-moz-selection {
	background: #001E1E;
	color: white;
}
::-webkit-selection {
	background: #001E1E;
	color: white;
}
::-o-selection {
	background: #001E1E;
	color: white;
}*/

* {
	margin: 0;
	padding: 0;
	font-size: 22px;
	/*font-family: "Lato", Helvetica, Arial, sans-serif;*/
	background: none;

	/* font smoothing setup - not working always */
	text-rendering: optimizelegibility;
	-webkit-text-rendering: optimizelegibility;
	-moz-text-rendering: optimizelegibility;
	-o-text-rendering: optimizelegibility;

	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	-o-font-smoothing: antialiased !important;
	font-smoothing: antialiased !important;

	-webkit-font-smooth: always;
	-moz-font-smooth: always;
	-o-font-smooth: always;
	font-smooth: always;

	-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
	-o-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);

	/* transitions */
	/*-moz-transition-duration: 0.3s;
	-moz-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: all;
	transition-duration: 0.3s;
	transition-property: all;*/
}

div, header, section, article, menu, img, p, ul, li {
	display: inline-block;
}

/* iOS CSS reset */
input, textarea {
	-webkit-appearance: none;
	outline: none;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}