#device-check, #landing-device-check {
	background: #FFFFFF;
}


/****** landing start ******/
.landing-logo-container {
	width: 350px;
	height: 260px;
	margin: 0 auto 0 auto;
	padding-top: 70px;
	background: rgba(0, 0, 0, 0.5);
}

.landing-logo {
	width: 200px;
	height: 195px;
}

.landing-social-container {
	position: absolute;
	width: 350px;
	margin: 0;
	padding: 0 0 20px 0;
	display: inline-block;
	text-align: center;
}

.landing-social-container input {
	height: 40px;
	font-size: 0.6em;
	font-weight: 300;
	padding-left: 10px;
	padding-right: 30px;
	width: 330px;
	text-align: center;
	border: none;
	background: rgba(0, 0, 0, 0.5);
}

.landing-social-container > img {
	display: inline-block;
	height: 34px;
	width: 30px;
	padding: 3px 5px;
	margin-left: -45px;
	vertical-align: bottom;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}

.landing-social-container > img:hover {
	opacity: 1;
}

.landing-social-container > a > img.social-icon {
	width: 50px;
	height: 50px;
	margin: 15px 5px 0 5px;
	opacity: 0.3;
}

.landing-social-container > a > img.social-icon:hover {
	opacity: 1;
}
/****** landing end ******/


.container {
	margin: 20px auto 0 auto;
	width: 465px;
}

.container > .logo-container > input {
	width: 350px;
	height: 50px;
	margin-top: 8px;
}

.container > .logo-container .withLeftMargin {
	margin-left: 22px;
}

nav, nav > ul, nav > ul > li {
	height: 50px;
}

nav > ul > li {
	padding-top: 30px;
}

nav > ul > li > img {
	width: 25px;
	height: 25px;
}

nav > ul > li.special > img {
	width: 32px;
	height: 23px;
	margin-top: 2px;
}

.container > section.page-container {
	height: 320px;
	padding-top: 30px;
}

.container > button {
	height: 80px;
}

.container > button > img {
	width: 40px;
	height: 27px;
	margin-top: 5px;
}

.container > section.page-container > div.page {
	display: block;
	position: relative;
	height: 320px;
}

.container > section.page-container > div.page > textarea {
	height: 320px;
}

/* info page */
div#page4 #address-icon {
	margin-top: 40px;
}

div#page4 hr {
	margin-bottom: 15px;
}

div#page4 input {
	width: 250px;
}