#device-check, #landing-device-check {
	background: #000000;
}


/****** landing start ******/
.landing-logo-container {
	width: 100%;
	height: 140px;
	margin: 0 auto 10px auto;
	padding-top: 15px;
	background: rgba(0, 0, 0, 0.5);
}

.landing-logo {
	width: 130px;
	height: 125px;
}

.landing-social-container {
	position: absolute;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	padding: 0 0 20px 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

.landing-social-container input {
	height: 40px;
	font-size: 0.6em;
	font-weight: 300;
	padding-left: 10px;
	padding-right: 30px;
	width: 250px;
	text-align: center;
	border: none;
	background: rgba(0, 0, 0, 0.5);
}

.landing-social-container > img {
	display: inline-block;
	height: 34px;
	width: 30px;
	padding: 3px 5px;
	margin-left: -45px;
	vertical-align: bottom;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}

.landing-social-container > img:hover {
	opacity: 1;
}

.landing-social-container > a > img.social-icon {
	width: 50px;
	height: 50px;
	margin: 15px 5px 0 5px;
	opacity: 0.3;
}

.landing-social-container > a > img.social-icon:hover {
	opacity: 1;
}
/****** landing end ******/


.container {
	width: 100%;
}

.container > .logo-container > input {
	width: 60%;
	height: 50px;
	margin-top: 8px;
}

.container > .logo-container .withLeftMargin {
	margin-left: 5%;
}

nav, nav > ul, nav > ul > li {
	height: 50px;
}

nav > ul > li {
	padding-top: 30px;
}

nav > ul > li > img {
	width: 25px;
	height: 25px;
}

nav > ul > li.special > img {
	width: 32px;
	height: 23px;
	margin-top: 2px;
}

.container > section.page-container {
	height: 350px;
	padding-top: 30px;
}

.container > button {
	height: 70px;
}

.container > button > img {
	width: 40px;
	height: 30px;
	margin-top: 5px;
}

/* info page */
div#page4 #address-icon {
	margin-top: 25px;
}

div#page4 hr {
	margin-bottom: 10px;
}

div#page4 input {
	width: 60%;
	font-size: 0.8em;
}