/*
 * Color scheme
 * ===============
 * Text:   #00ABC5
 * Back:   #002529
 * Active: #003B3E
 * Hover:  #104B4E
 */

::selection {
    background: #00ABC5;
    color: white;
}

::-moz-selection {
    background: #00ABC5;
    color: white;
}

/* noinspection CssInvalidPseudoSelector */
::-webkit-selection {
    background: #00ABC5;
    color: white;
}

/* noinspection CssInvalidPseudoSelector */
::-o-selection {
    background: #00ABC5;
    color: white;
}

* {
    color: #00ABC5;
    font-family: "Lato", Helvetica, Helvetica-Light, "Helvetica Light", Arial, sans-serif;
}

body {
    background: #002529;
    text-align: center;
}

img.intro-logo {
    display: block;
    margin: 4em auto 0 auto;
    width: 4em;
    height: 4em;
    cursor: pointer;
}

p.intro-text {
    margin: 2em;
    font-size: 1.2em;
}